<div class="columns mt-6 is-centered">
  <div class="column is-one-quarter">
    <h2 class="title is-2">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email,"Enter your Email", class: "label " %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "input is-info control has-icons-left has-icons-right", placeholder: "Enter Email" %>
      </div>
      
      <div class="field">
        <%= f.label :password,"Enter your Password", class: "label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class: "input is-info", placeholder: "Enter Password"  %>
      </div>

      <div class="field">
        <%= f.label :password,"Enter your Password Again", class: "label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "input is-info", placeholder: "Enter Password again" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "button is-outlined is-info is-fullwidth" %><br />
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>